/* work sans from google font */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
  /* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.button-primary{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    padding: 20px 25px;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    background: #FF900E;
}
.text-light-gray{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.section-title{
    color: #131313;
font-size: 3rem;
font-weight: 700;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}
/* main section styles */
main{
    max-width: 1440px;
    margin: 0 auto;

}
/* team section styles */
.teams-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-left: 25px;
}
.teams-content{
    padding-left:25px ;
    padding-right:25px;
}
.teams-content-title{
    font-size: 2.8rem;
}
.quick-list{
    font-weight: 500;
    color: #727272;
}
.of-our{
    font-weight: 700;
    color: #131313;
}
.text-features{
    font-weight: 700;
    color: #FF900E;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
        /* no repeat */
        padding: 0 10px;
    }
}
/* tablet/medium devices */
@media screen and (min-width:577px) and (max-width:920px) {
    nav{
        flex-direction: column;
    }
}